<p>
  <b>Title:</b>
  <%=h @message.title %>
</p>

<p>
  <b>Date:</b>
  <%=h @message.created_at.german :long %>
</p>

<p>
  <b>Author:</b>
  <%=h @message.author.login %>
</p>

<p>
  <b>Body:</b>
  <%= textilize (h @message.body) %>
</p>

<%= link_to 'Back', messages_path %>
