<h1><%= l :new_tag %></h1>

<% form_for(@tag) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, (l :name) %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit (l :create) %>
  </p>
<% end %>

<%= link_to 'Back', tags_path %>
