<div style="text-align:center;padding-bottom:1em" class="form_new">
  Suche: <%= text_field_with_auto_complete :user, :login, {}, {:method => :get, :skip_style => true} %>
</div>

<%= l :all_profiles %><br><br>

<ul>
    <% @users.each do |user| %>
    <li><%= link_to user.login, :action => "show", :id => user %></li>
    <% end %>
</ul>