<div class="headline">
    <%= l :please_enter_your_login_data %>:
</div>
<div class="loginarea">
    <% form_tag do -%>
    <p><label for="login"><%= l :username %></label><br/>
    <%= text_field_tag 'login' %></p>

    <p><label for="password"><%= l :password %></label><br/>
    <%= password_field_tag 'password' %></p>

    <p><label for="remember_me"><%= l :remember_me %>:</label>
    <%= check_box_tag 'remember_me' %></p>
    

    <p><%= submit_tag 'Log in' %></p>
    <% end -%>
</div>
