<div class="headline">Alle öffentlichen Projekte</div>

<div id="project_search_results" style="text-align:left;padding-left:4em;padding-right:4em">
  <%= render :partial => "projects/project_list", :object => @projects %>
</div>