<div class="headline"><%= l :projects %>: <%= l :all_tags %></div>
<% tag_cloud @tags, tag_cloud_css_classes do |tag, css_class| %>
  <span class="<%= css_class %>" style="padding:0.5em">
    <%= link_to tag.name, { :action => :tag, :id => tag.name } %>
  </span>
<% end %>
