.profile{
    text-align:left;
}

.profile table{
  width: 80%;
}

.profile .title{
  font-weight: bold;
  text-align: left;
  padding-left: 30%;
  width: 40%;
}

.profile .value{
    font-weight: normal;
    text-align: left;
    padding-left: 5em;
    width: 60%;
}

.edit_form{
    text-align: center;
}

.alphabet_search{
    text-align:center;
    font-weight: bold;
    padding-left:20%;
    padding-right:20%;
    padding-bottom:0.5em;
}

.alphabet_search a{
  padding-right: 0.2ex;
  font-size: 80%;
}

.my_projects{
  margin-left: 5em;
  margin-right: 5em;
}
.my_projects table{
  width: 100%;
  text-align: center;
}
.my_projects tr{
  width:100%;
  height: 2em;
}
.my_projects td{
  width:33%;
  height: 2em;
}
.my_projects .even{
  background-color: #a7d3ff;
  color:#000;
}
.my_projects .odd{
  background-color: #D3E9FE;  
  color:#000;
}

.my_projects .admin{
  font-size: 90%;
}

.project_info{
  padding-left: 5em;
  text-align: left;
}

.project_info_even{
  background-color: #a7d3ff;
  font-weight: bold;
}

.project_info_odd{
  background-color: #D3E9FE;  
  font-weight: bold;
}