.profile{
    text-align:left;
}

.profile table{
  width: 80%;
}

.profile .title{
  font-weight: bold;
  text-align: left;
  padding-left: 30%;
  width: 40%;
}

.profile .value{
    font-weight: normal;
    text-align: left;
    padding-left: 5em;
    width: 60%;
}

.edit_form{
    text-align: center;
}

.alphabet_search{
    padding-left:20%;
    padding-right:20%;
    padding-bottom:2em;
    font-weight: bold;
}

.alphabet_search a{
  padding-right: 0.6ex;
}

.my_projects{
  margin-left: 10em;
  margin-right: 10em;
}
.my_projects table{
  width: 100%;
}
.my_projects tr{
  width:100%;
}
.my_projects .even{
  background-color: #eee;
}
.my_projects .odd{
  background-color: #ccc;  
}