<h1>Editing team_membership</h1>

<% form_for(@team_membership) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @team_membership %> |
<%= link_to 'Back', team_memberships_path %>
