<h1>New team_membership</h1>

<% form_for(@team_membership) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :user_id, "user_id" %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :team_id, "team_id" %><br />
    <%= f.text_field :team_id%>
  </p>
  <p>
    <%= f.label :user_level, "user_level" %><br />
    <%= f.text_field :user_level %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', team_memberships_path %>
